body {
    background: #f7f7f7;
}

#mainContainer {
    margin: 20px;
}

#w3-modal-content {
    max-width: 400px;
}

div.book-card {
    position: relative;
}

div.book-card .book-description {
    display: none;
}

div.book-card:hover .book-description {
    display: block;
}

div.book-card .book-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}